<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">     
      <div class="carousel-item active">
        <img src="https://c0.wallpaperflare.com/preview/880/951/766/kerala-india-dance-kathakali.jpg" class="d-block w-100" height="500" width="400" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://c4.wallpaperflare.com/wallpaper/854/47/770/vazhachal-falls-wallpaper-preview.jpg" class="d-block w-100 vh-50" height="500" width="400"  alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://c1.wallpaperflare.com/preview/148/701/214/kerala-houseboat-houseboat-booking-houseboat-package.jpg" class="d-block w-100 vh-50" height="500" width="400"  alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="about" class="container">
    <figure class="text-center">
      <blockquote class="blockquote">
        <br>
        <p><h2 style="color: white;">Welcome To Kerala - God's Own Country</h2>
      </blockquote>
    </figure>
        <p class="text-center" style="color: white;">Kerala, southwestern coastal state of India. It is a small state, constituting only about 1 percent of the total area of the country. Kerala stretches for about 360 miles (580 km) along the Malabar Coast, varying in width from roughly 20 to 75 miles (30 to 120 km). It is bordered by the states of Karnataka (formerly Mysore) to the north and Tamil Nadu to the east and by the Arabian Sea to the south and west; it also surrounds Mahe, a segment of the state of Puducherry, on the northwestern coast. The capital is Thiruvananthapuram (Trivandrum).
        Although isolated from the Indian interior by the mountainous belt of the Western Ghats, Kerala has been exposed to many foreign influences via its long coastline; consequently, the state has developed a unique culture within the subcontinent, not only with a diverse religious tradition but also with its own language, Malayalam. Also notable is the high social status that continues to be accorded to women of Kerala, owing to the former strength of a matrilineal kinship system. Area 15,005 square miles (38,863 square km). Pop. (2011) 33,387,677.</p>
  </div>