body{
  background-image: url("https://c1.wallpaperflare.com/preview/732/648/952/kathakali-dance-india-kerala-portraits-peopleandculture.jpg");
  backdrop-filter: blur(3px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
